<footer id="main-footer">
    <div class="container center flex-column mainscript">
        <div>
            <!-- Jesus Week Logo -->
            <p><strong>Jesus Week</strong> Waterloo</p>
        </div>
        <div>
            <p><a href="/about">About</a></p>
            <p><a href="/gospel">The Gospel</a></p>
            <p><a href="/events">Events</a></p>
        </div>
        <div>
            <p><a href="/connect">Connect</a></p>
            <ul>
                <li><a href="/connect/churches">Churches</a></li>
                <li><a href="/connect/fellowships">Fellowships</a></li>
            </ul>
        </div>
        <div>
            <p><a href="/contact">Contact</a></p>
            <ul>
                <li><a href="https://www.facebook.com/jesusweekwaterloo/" rel="noreferrer">Facebook</a></li>
            </ul>
        </div>
    </div>
    <div class="container center flex-row postscript">
        <p class="text-right">Copyright &copy;{{ site.time | date: '%Y' }} Jesus Week Waterloo</p>
    </div>
</footer>
