{% assign i18n = site.data.i18n %}
{% assign lang = page.lang %}

<header id="main-header">
    <div class="container center flex-row">
        <div class="logo"><a href="{{ i18n.site.link-prefix[lang] }}/"><svg xmlns:xlink="http://www.w3.org/1999/xlink" height="20" viewBox="0 0 563.158 72.25"><use x="0" y="0" href="#logo"/></svg><br><span class="byline">{{ i18n.header.date[lang] }}</span></a></div>
        <button id="change-lang" class="Header_menu-btn accessibility-link" title="{{ i18n.site.accessibility.translate[lang] }}" aria-label="{{ i18n.site.accessibility.translate[lang] }}" aria-controls="change-lang-menu" data-alt-title="{{ i18n.site.accessibility.close-translate[lang] }}" href="#">{% include icons/language.svg %}<span class="menu-open-icon">{% include icons/chevron-down.svg %}</span><span class="menu-close-icon">{% include icons/chevron-up.svg %}</span></button>
        <div id="change-lang-menu" class="Menu ChangeLang">
            <div class="Menu_background"></div>
            <ul>
                {% for language in i18n.site.accessibility.langs %}
                    {% assign cur_language = language[0] %}
                <li><a href="{{ i18n.site.link-prefix[cur_language] }}{{ page.url | remove_first: i18n.site.link-prefix[lang] }}" tabindex="-1">{% if cur_language == lang %}<strong>{{ language[1] }}</strong>{% else %}{{ language[1] }}{% endif %}</a></li>
                {% endfor %}
                <li><a id="close-change-lang-menu" href="#" aria-controls="main-nav" tabindex="-1">{{ i18n.site.accessibility.close-translate[lang] }}</a></li>
            </ul>
        </div>
        <button id="toggle-main-nav" class="Header_menu-btn accessibility-link" title="{{ i18n.site.js-accessibility.open-navigation[lang] }}" aria-label="{{ i18n.site.js-accessibility.open-navigation[lang] }}" aria-controls="main-nav" data-alt-title="{{ i18n.site.js-accessibility.close-navigation[lang] }}" href="#"><span class="menu-open-icon">{% include icons/bars.svg %}</span><span class="menu-close-icon">{% include icons/times.svg %}</span></button>
        <nav id="main-nav" class="Menu MainNav">
            <div class="Menu_background"></div>
            <ul>
                {% for id in i18n.header.menu %}
                    {% assign node = site.pages | where: "lang", lang | where: "title", id | first %}
                    {% if page.url contains node.url %}
                <li class="current-page"><a href="{{ node.url }}" class="current-page" tabindex="-1">{{ i18n.titles[id][lang] }}</a></li>
                    {% else %}
                <li><a href="{{ node.url }}" tabindex="-1">{{ i18n.titles[id][lang] }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a id="close-main-nav" href="#" aria-controls="main-nav" tabindex="-1">{{ i18n.site.js-accessibility.close-navigation[lang] }}</a></li>
            </ul>
        </nav>
    </div>
</header>
