<header id="main-header">
    <div class="container center flex-row">
        <div class="logo"><a href="/" class="aria-hidden">Jesus Week Waterloo</a></div>
        <a id="toggle-main-nav" role="button" title="Open navigation" aria-label="Open navigation" aria-controls="main-nav" href="#">{% include icons/bars.svg %}</a>
        <nav id="main-nav">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/gospel">The Gospel</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/connect">Connect</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
