<header id="main-header">
    <div class="container center flex-row">
        <div class="logo"><a href="/"><strong class="brand-highlight">Choose Christ.</strong><br><span class="byline">Jesus Week 2019 <span class="slash-sep">//</span> UW + WLU</span></a></div>
        <a id="toggle-main-nav" role="button" title="Open navigation" aria-label="Open navigation" aria-controls="main-nav" href="#"><span class="menu-open-icon">{% include icons/bars.svg %}</span><span class="menu-close-icon">{% include icons/times.svg %}</span></a>
        <nav id="main-nav">
            <ul>
                {% for id in site.display_pages %}
                    {% assign node = site.pages | where: "name", id | first %}
                    {% if page.url == node.url %}
                <li class="current-page"><a href="{{node.url}}" class="current-page">{{node.title}}</a></li>
                    {% else %}
                <li><a href="{{node.url}}">{{node.title}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
