---
layout: landing
---

{% assign i18n = site.data.i18n %}
{% assign lang = page.lang %}

<p class="font-36"><strong>{{ i18n.connect.headline[lang] }}</strong></p>

<p class="font-28">{{ i18n.connect.preamble[lang] | remove: "<p>" | remove: "</p>" }}</p>

<div class="find-container flex-row font-36">
    <p><a class="btn blue-btn arrow-btn" href="{{ i18n.site.link-prefix[lang] }}/connect/churches"><strong>{{ i18n.connect.link-find-church[lang] }}</strong> {% include icons/arrow-right.svg %}</a></p>
    <p><a class="btn blue-btn arrow-btn" href="{{ i18n.site.link-prefix[lang] }}/connect/fellowships"><strong>{{ i18n.connect.link-find-felly[lang] }}</strong> {% include icons/arrow-right.svg %}</a></p>
    <p><a class="btn blue-btn arrow-btn" href="https://www.facebook.com/jesusweekwaterloo/"><strong>{{ i18n.home.section-connect.link-fb[lang] }}</strong> {% include icons/external-link-alt.svg %}</a></p>
</div>

<style>.find-container { justify-content: space-around; flex-wrap: wrap; margin-bottom: 1em; }
.find-container p { margin: 0.5em 0; }
.find-container .btn { white-space: nowrap; }
</style>