---
layout: landing
---

<div class="flex-row" id="events-listing">
    {% for event_obj in site.data.events %}
        {% if event_obj[1].Type != "onetime" %}{% continue %}{% endif %}
        {% assign event_page = site.events | where: "key", event_obj[0] | first %}
        {% assign event = event_obj[1] %}
    <div class="event-listing event-onetime text-center" id="{{ event_obj[0] }}">
        <a class="event-link" href="{{ event_page.url }}">
            <div class="event-content">
                <h2 class="event-title"><span class="quartz-highlight">{{ event_page.title }}</span></h2>
                <h3 class="event-datetime">
                    <time class="event-date" datetime="{{ event.Date }}">{{ event.Date | date: '%m.%d.%Y' }}</time>
                    <span class="slash-sep">//</span> {{ event.Time }}
                </h3>
                <h3 class="event-location">
                    <span class="event-go-icon-left">{% include icons/arrow-right.svg %}</span>
                    {% if event.Locations %}
                    {{ event.Locations | join: "<span class='slash-sep'>//</span>" }}
                    {% else %}
                    {{ event.Location }}
                    {% endif %}
                    <span class="event-go-icon-right">{% include icons/arrow-left.svg %}</span>
                </h3>
            </div>
        </a>
    </div>
    {% endfor %}

    {% for event_obj in site.data.events %}
        {% if event_obj[1].Type != "recurring" %}{% continue %}{% endif %}
        {% assign event_page = site.events | where: "key", event_obj[0] | first %}
        {% assign event = event_obj[1] %}
    <div class="event-listing event-recurring text-center" id="{{ event_obj[0] }}">
        <a class="event-link" href="{{ event_page.url }}">
            <div class="event-content">
                <h2 class="event-title"><span class="quartz-highlight">{{ event_page.title }}</span></h2>
                <h3 class="event-datetime">{% if event.Dates %}
                    {% for date in event.Dates %}
                    <time class="event-date" datetime="{{ date }}">{{ date | date: '%a' }}.</time>
                    {% endfor %}
                    {% else %}
                    <time class="event-date" datetime="{{ event.Date }}">{{ event.Date | date: '%a' }}</time>
                {% endif %} <span class="slash-sep">//</span> {{ event.Time }}</h3>
                <h3 class="event-location">
                    <span class="event-go-icon-left">{% include icons/arrow-right.svg %}</span>
                    {% if event.Locations %}
                    {{ event.Locations | join: " <span class='slash-sep'>//</span> " }}
                    {% else %}
                    {{ event.Location }}
                    {% endif %}
                    <span class="event-go-icon-right">{% include icons/arrow-left.svg %}</span>
                </h3>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
