---
layout: default
---

{% assign i18n = site.data.i18n %}
{% assign lang = page.lang %}

{% include top-bar.html %}
{% assign event = i18n.events.events[page.key] %}

<main id="content" role="main">
    {% if event.cover %}
    <div id="doc-title" class="has-cover" style="background-image:linear-gradient(to bottom, rgba(26,24,31,.5), rgba(26,24,31,.5)),url('{{ event.cover }}')">
    {% else %}
    <div id="doc-title">
    {% comment %}</div>{% endcomment %}
    {% endif %}
        <div class="container center">
            <a class="navigate-up" href="{{ page.url | split: '/' | pop | join: '/' }}">&laquo; {{ i18n.titles.events[lang] }}</a>
            <h1><span class="bg">{{ event.title[lang] }}</span></h1>
            <h2><span class="bg">
                {% if event.dates %}
                {% for date in event.dates %}
                <time class="event-date" datetime="{{ event.canonicalDates[forloop.index] }}">{{ date[lang] }}.</time>
                {% endfor %}
                {% else %}
                <time class="event-date" datetime="{{ event.canonicalDate }}">{{ event.date[lang] }}</time>
                {% endif %}
                <span class="slash-sep">//</span>
                {{ event.time[lang] }}
            </span></h2>
            <h2><span class="bg">
                {% if event.locations %}
                {{ event.locations | join: " <span class='slash-sep'>//</span> " }}
                {% else %}
                {{ event.location }}
                {% endif %}
            </span></h2>
        </div>
    </div>
    <div id="doc-main-content" class="container center">
        {{ event.description[lang] | markdownify }}
        {% if event.link %}
        <p class="text-center font-28">
            <a class="btn blue-btn arrow-btn" href="{{ event.Link }}" rel="noreferrer"><strong>{{ i18n.events.links.facebook[lang] }}</strong> {% include icons/external-link-alt.svg %}</a>
        </p>
        {% endif %}
    </div>
</main>

{% include footer.html %}
