---
layout: landing
---

{% assign i18n = site.data.i18n %}
{% assign lang = page.lang %}

<div class="flex-row" id="events-listing">
    {% for event_obj in i18n.events.events %}
        {% if event_obj[1].type != "onetime" %}{% continue %}{% endif %}
        {% assign event_page = site.events_en-ca | concat: site.events_zh-hk | where: "lang", lang | where: "key", event_obj[0] | first %}
        {% assign event = event_obj[1] %}
    <div class="event-listing event-onetime text-center" id="{{ event_obj[0] }}">
        <div class="event-listing-bg"></div>
        <a class="event-link" href="{{ event_page.url }}">
            <div class="event-content">
                <h2 class="event-title"><span class="quartz-highlight">{{ event.title[lang] }}</span></h2>
                <h3 class="event-datetime">
                    <time class="event-date">{{ event.date[lang] }}</time>
                    <span class="slash-sep">//</span> {{ event.time[lang] }}
                </h3>
                <h3 class="event-location">
                    <span class="event-go-icon-left">{% include icons/arrow-right.svg %}</span>
                    {% if event.locations %}
                    {{ event.locations | join: "<span class='slash-sep'>//</span>" }}
                    {% else %}
                    {{ event.location }}
                    {% endif %}
                    <span class="event-go-icon-right">{% include icons/arrow-left.svg %}</span>
                </h3>
            </div>
        </a>
    </div>
    {% endfor %}

    {% for event_obj in i18n.events.events %}
        {% if event_obj[1].type != "recurring" %}{% continue %}{% endif %}
        {% assign event_page = site.events_en-ca | concat: site.events_zh-hk | where: "lang", lang | where: "key", event_obj[0] | first %}
        {% assign event = event_obj[1] %}
    <div class="event-listing event-recurring text-center" id="{{ event_obj[0] }}">
        <div class="event-listing-bg"></div>
        <a class="event-link" href="{{ event_page.url }}">
            <div class="event-content">
                <h2 class="event-title"><span class="quartz-highlight">{{ event.title[lang] }}</span></h2>
                <h3 class="event-datetime">{% if event.dates %}
                    {% for date in event.dates %}
                    <time class="event-date">{{ date[lang] }}</time>
                    {% endfor %}
                    {% else %}
                    <time class="event-date">{{ event.date[lang] }}</time>
                {% endif %} <span class="slash-sep">//</span> {{ event.time[lang] }}</h3>
                <h3 class="event-location">
                    <span class="event-go-icon-left">{% include icons/arrow-right.svg %}</span>
                    {% if event.locations %}
                    {{ event.locations | join: " <span class='slash-sep'>//</span> " }}
                    {% else %}
                    {{ event.location }}
                    {% endif %}
                    <span class="event-go-icon-right">{% include icons/arrow-left.svg %}</span>
                </h3>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
