---
layout: default
---
{% include top-bar.html %}
{% assign event = site.data.events[page.key] %}

<main id="content" role="main">
    {% if event.Cover %}
    <div id="doc-title" class="has-cover" style="background-image:linear-gradient(to bottom, rgba(26,24,31,.5), rgba(26,24,31,.5)),url('{{ event.Cover }}')">
    {% else %}
    <div id="doc-title">
    {% comment %}</div>{% endcomment %}
    {% endif %}
        <div class="container center">
            <a class="navigate-up" href="{{ page.url | split: '/' | pop | join: '/' }}">&laquo; Back to Events</a>
            <h1><span class="bg">{{ page.title }}</span></h1>
            <h2><span class="bg">
                {% if event.Dates %}
                {% for date in event.Dates %}
                <time class="event-date" datetime="{{ date }}">{{ date | date: '%a' }}.</time>
                {% endfor %}
                {% else %}
                <time class="event-date" datetime="{{ event.Date }}">{{ event.Date | date: '%m.%d.%Y' }}</time>
                {% endif %}
                <span class="slash-sep">//</span>
                {{ event.Time }}
            </span></h2>
            <h2><span class="bg">
                {% if event.Locations %}
                {{ event.Locations | join: " <span class='slash-sep'>//</span> " }}
                {% else %}
                {{ event.Location }}
                {% endif %}
            </span></h2>
        </div>
    </div>
    <div id="doc-main-content" class="container center">
        {{ event.Description | markdownify }}
        {% if event.Link %}
        <p class="text-center font-28">
            <a class="btn blue-btn arrow-btn" href="{{ event.Link }}" rel="noreferrer"><strong>See this event on Facebook</strong> {% include icons/arrow-right.svg %}</a>
        </p>
        {% endif %}
    </div>
</main>

{% include footer.html %}
