---
layout: landing
---

<div class="flex-row gospel-container">
    <div class="gospel-tract">
        <h2><span class="quartz-highlight">A Holy and Perfect God</span></h2>
        <p>In the beginning, God created the world.
        He is a perfect and holy God who cannot be in the presence of anything short of perfection.</p>
    </div>
    <div class="gospel-tract">
        <h2><span class="quartz-highlight">The Fall</span></h2>
        <p>Humans are sinful in nature and deserve God’s wrath, eternal punishment.
        We are eternally separated from God.</p>
    </div>
    <div class="gospel-tract">
        <h2><span class="quartz-highlight">The Messiah</span></h2>
        <p>God sent his one and only Son Jesus to die on the cross as the perfect sacrifice, to satisfy God’s wrath.
        And on the third day, Jesus rose and conquered death.</p>
    </div>
    <div class="gospel-tract">
        <h2><span class="quartz-highlight">Saved by Grace Through Faith</span></h2>
        <p>Though we hated him, God gives to us unmerited favour by sending his own Son to die in our place.
        It is because of him, not of any earned merit of ourselves, that we can be saved.</p>
    </div>
</div>

<div class="splash splash-blue">
    <h2>Interested in taking the next step?</h2>
    <a class="btn connect-btn arrow-btn" href="/connect/churches">Connect with a church {% include icons/arrow-right.svg %}</a>
    <a class="btn connect-btn arrow-btn" href="/connect/fellowships">Connect with a fellowship {% include icons/arrow-right.svg %}</a>
</div>
