---
layout: landing
---

{% assign i18n = site.data.i18n %}
{% assign lang = page.lang %}

<div class="flex-row gospel-container">
    {% for point in i18n.gospel.points %}
    <div class="gospel-tract">
        <h2><span class="quartz-highlight"><mark>{{ forloop.index }}.</mark> {{ point.title[lang] }}</span></h2>
        <div class="gospel-tract-content">
            <p class="gospel-tract-summary">{{ point.description[lang] }}</p>
            <blockquote class="gospel-tract-verse">
                <p>{{ point.reference.text[lang] }}</p>
            </blockquote>
            <p class="gospel-tract-source"><a class="gospel-tract-reveal" href="#">&mdash;&nbsp;{{ point.reference.source[lang] }}</a></p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="splash splash-blue">
    <h2>{{ i18n.connect.card[lang] }}</h2>
    <a class="btn blue-btn arrow-btn" href="{{ i18n.site.link-prefix[lang] }}/connect/churches">{{ i18n.connect.link-find-church[lang] }} {% include icons/arrow-right.svg %}</a>
    <a class="btn blue-btn arrow-btn" href="{{ i18n.site.link-prefix[lang] }}/connect/fellowships">{{ i18n.connect.link-find-felly[lang] }} {% include icons/arrow-right.svg %}</a>
</div>
