---
layout: default
---
{% include top-bar.html %}

<main id="content" role="main">
	<div class="HomeTitle center flex-column">
        <div class="HomeTitle_racingStripe"></div>
        <div class="HomeTitle_backgroundQuestions"></div>
        <h1 class="HomeTitle_title">What kind of <span class="HomeTitle_textBackground">King</span> is this?</h1>
    </div>
    <div id="home-content" class="container">
        <div class="HomeSpacer" id="HomeSpacer--1">
            <div class="HomeSpacer_transitionOutside HomeSpacer--bg-start" width="173" height="38"></div>
            <div class="HomeSpacer_transitionInside"></div>
            <div class="HomeSpacer_separator HomeSpacer--grad-to-left"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--left-down HomeSpacer--border-end"></div>
            <div class="HomeSpacer_extension HomeSpacer--bg-end"></div>
        </div>
    	<div class="HomeSection" id="questions">
            <div class="container sub-container center">
                <h2 class="HomeSection_title">The Questions</h2>
                <p>What kind of King...?</p>
                <p>What kind of King...?</p>
                <p>What kind of King...?</p>
                <p>What kind of King...?</p>
                <p>What kind of King...?</p>
                <p>What kind of King...?</p>
                <a class="HomeSection_link icon-link" href="/about">Read the answers {% include icons/arrow-right.svg %}</a>
            </div>
        </div>
        <div class="HomeSpacer" id="HomeSpacer--2">
            <div class="HomeSpacer_extension HomeSpacer--bg-start"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--down-right HomeSpacer--border-start"></div>
            <div class="HomeSpacer_separator HomeSpacer--grad-to-right"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--right-down HomeSpacer--border-end"></div>
            <div class="HomeSpacer_extension HomeSpacer--bg-end"></div>
        </div>
        <div class="HomeSection" id="gospel">
            <div class="container sub-container center">
                <h2 class="HomeSection_title">The Gospel</h2>
                <ol>
                    <li>God is holy and perfect.</li>
                    <li>We are sinful and separated from God.</li>
                    <li>God sent Jesus to die on the cross as the perfect sacrifice for our sins.</li>
                    <li>All who repent of their sins and believe in Him are saved.</li>
                </ol>
                <a class="HomeSection_link icon-link" href="/gospel">Why the Gospel? {% include icons/arrow-right.svg %}</a>
            </div>
        </div>
        <div class="HomeSpacer" id="HomeSpacer--3">
            <div class="HomeSpacer_extension HomeSpacer--bg-start"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--down-left HomeSpacer--border-start"></div>
            <div class="HomeSpacer_separator HomeSpacer--grad-to-left"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--left-down HomeSpacer--border-end"></div>
            <div class="HomeSpacer_extension HomeSpacer--bg-end"></div>
        </div>
    	<div class="HomeSection" id="connect">
            <div class="container sub-container center">
                <h2 class="HomeSection_title">Connect</h2>
                <p>Whether you've just started your spiritual journey, or you've been a long-time believer, finding a church and fellowship is an important step in growing your faith.</p>
                <a class="HomeSection_link icon-link" href="/connect/churches">Connect with a church {% include icons/arrow-right.svg %}</a><br>
                <a class="HomeSection_link icon-link" href="/connect/fellowships">Connect with a fellowship {% include icons/arrow-right.svg %}</a><br>
                <a class="HomeSection_link icon-link" href="https://www.facebook.com/jesusweekwaterloo/">Connect with us on Facebook {% include icons/external-link-alt.svg %}</a>
        	</div>
        </div>
        <div class="HomeSpacer" id="HomeSpacer--4">
            <div class="HomeSpacer_extension HomeSpacer--bg-start"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--down-right HomeSpacer--border-start"></div>
            <div class="HomeSpacer_separator HomeSpacer--grad-to-right"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--right-down HomeSpacer--border-end"></div>
            <div class="HomeSpacer_extension HomeSpacer--bg-end"></div>
        </div>
    </div>
</main>

{% include footer.html %}

<script>window.events = {{ site.data.events | jsonify }};
window.eventsURLs = Object.assign.apply({}, {{ site.events | map: 'key' | jsonify }}.map(function(e, i) { var o = {}; o[e] = {{ site.events | map: 'url' | jsonify }}[i]; return o; }));</script>
