---
layout: default
---

{% assign i18n = site.data.i18n %}
{% assign lang = page.lang %}

{% include top-bar.html %}

<main id="content" role="main">
	<div class="HomeTitle GrandTitle center flex-column">
        <div class="HomeTitle_backgroundQuestions" aria-hidden="true">
            {% for question in i18n.home.background-questions %}
            <div class="HomeTitle_backgroundQuestionsRow HomeTitle_backgroundQuestionsRow--{{ forloop.index }}">
                {% for _ in (0..5) %}
                <p>{{ question[lang] }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="HomeTitle_racingStripe"></div>
        <h1 class="HomeTitle_title">{{ i18n.home.title.pre-king[lang] }} <span class="HomeTitle_textBackground">{{ i18n.home.title.king[lang] }}</span> {{ i18n.home.title.post-king[lang] }}</h1>
    </div>
    <div id="home-content" class="container">
        <div class="HomeSpacer" id="HomeSpacer--1">
            <div class="HomeSpacer_separator HomeSpacer--grad-to-left"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--left-down HomeSpacer--border-end"></div>
            <div class="HomeSpacer_extension HomeSpacer--bg-end"></div>
        </div>
    	<div class="HomeSection" id="questions">
            <div class="container sub-container center">
                <h2 class="HomeSection_title">{{ i18n.home.section-questions.title[lang] }}</h2>
                <div class="HomeSection_content">
                    {% for question in i18n.theme.questions %}
                    <p>{{ i18n.theme.prefixes.questions[lang] }} {{ question[lang] | default: "..." }}?</p>
                    {% endfor %}
                </div>
                <a class="HomeSection_link icon-link" href="{{ i18n.site.link-prefix[lang] }}/theme">{{ i18n.home.section-questions.link[lang] }} {% include icons/arrow-right.svg %}</a>
            </div>
        </div>
        <div class="HomeSpacer" id="HomeSpacer--2">
            <div class="HomeSpacer_extension HomeSpacer--bg-start"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--down-right HomeSpacer--border-start"></div>
            <div class="HomeSpacer_separator HomeSpacer--grad-to-right"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--right-down HomeSpacer--border-end"></div>
            <div class="HomeSpacer_extension HomeSpacer--bg-end"></div>
        </div>
        <div class="HomeSection" id="gospel">
            <div class="container sub-container center">
                <h2 class="HomeSection_title">{{ i18n.home.section-gospel.title[lang] }}</h2>
                <div class="HomeSection_content">
                    <ol>
                        {% for point in i18n.home.section-gospel.points %}
                        <li>{{ point[lang] }}</li>
                        {% endfor %}
                    </ol>
                </div>
                <a class="HomeSection_link icon-link" href="/gospel">{{ i18n.home.section-gospel.link[lang] }} {% include icons/arrow-right.svg %}</a>
            </div>
        </div>
        <div class="HomeSpacer" id="HomeSpacer--3">
            <div class="HomeSpacer_extension HomeSpacer--bg-start"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--down-left HomeSpacer--border-start"></div>
            <div class="HomeSpacer_separator HomeSpacer--grad-to-left"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--left-down HomeSpacer--border-end"></div>
            <div class="HomeSpacer_extension HomeSpacer--bg-end"></div>
        </div>
    	<div class="HomeSection" id="connect">
            <div class="container sub-container center">
                <h2 class="HomeSection_title">{{ i18n.home.section-connect.title[lang] }}</h2>
                <div class="HomeSection_content">
                    <p>{{ i18n.home.section-connect.description[lang] }}</p>
                </div>
                <a class="HomeSection_link icon-link" href="/connect/churches">{{ i18n.home.section-connect.link-churches[lang] }} {% include icons/arrow-right.svg %}</a><br>
                <a class="HomeSection_link icon-link" href="/connect/fellowships">{{ i18n.home.section-connect.link-fellys[lang] }} {% include icons/arrow-right.svg %}</a><br>
                <a class="HomeSection_link icon-link" href="https://www.facebook.com/jesusweekwaterloo/">{{ i18n.home.section-connect.link-fb[lang] }} {% include icons/external-link-alt.svg %}</a>
        	</div>
        </div>
        <div class="HomeSpacer" id="HomeSpacer--4">
            <div class="HomeSpacer_extension HomeSpacer--bg-start"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--down-right HomeSpacer--border-start"></div>
            <div class="HomeSpacer_separator HomeSpacer--grad-to-right"></div>
            <div class="HomeSpacer_borderRadius HomeSpacer_borderRadius--right-down HomeSpacer--border-end"></div>
            <div class="HomeSpacer_extension HomeSpacer--bg-end"></div>
        </div>
    </div>
</main>

{% include footer.html %}

<script>window.events = {{ i18n.events.events | jsonify }};
window.eventsURLs = Object.assign.apply({}, {{ site.events | map: 'key' | jsonify }}.map(function(e, i) { var o = {}; o[e] = {{ site.events | map: 'url' | jsonify }}[i]; return o; }));</script>
