---
layout: default
---

{% assign i18n = site.data.i18n %}
{% assign lang = page.lang %}

{% include top-bar.html %}

{% for id in i18n.header.menu %}
    {% assign node = site.pages | where: "lang", lang | where: "title", id | first %}
    {% if page.url contains node.url %}
        {% assign parent = node %}
    {% endif %}
{% endfor %}

<main id="content" role="main">
    <div id="doc-title" class="container center">
        {% if parent %}
        <a class="navigate-up" href="{{ parent.url }}">&laquo; {{ i18n.site.navigation.back-to[lang] }}{{ i18n.site.sep[lang] }}{{ i18n.titles[parent.title][lang] }}</a>
        {% endif %}
        <h1>{{ i18n.titles[page.title][lang] }}</h1>
    </div>
	<div id="doc-main-content" class="container center">
		{{ content }}
	</div>
</main>

{% include footer.html %}
